{{- range .Values.roles }}
---
apiVersion: iam.services.k8s.aws/v1alpha1
kind: Role
metadata:
  name: {{ .name }}
  namespace: {{ $.Values.project }}
  labels:
    {{- include "pod-identity-iam-resources.labels" $ | nindent 4 }}
spec:
  name: {{ .name }}
  description: Role for Pod Identity Cross Account Access
  policyRefs:
    - from:
        name: {{ include "pod-identity-iam-resources.policyName" $ }}
  assumeRolePolicyDocument: |-
{{- (tpl .assumeRolePolicyDocument $)  | nindent 4 }}
  maxSessionDuration: 3600
  permissionsBoundary: "arn:aws:iam::{{ $.Values.aws.accountId }}:policy/ADSK-Boundary"
  policyRefs:
    - from:
        name: {{ include "pod-identity-iam-resources.policyName" $ }}
  tags:
    - key: "adsk:moniker"
      value: {{ $.Values.moniker }}
{{- end }}
