{{- range .Values.policies }}
---
apiVersion: iam.services.k8s.aws/v1alpha1
kind: Policy
metadata:
  name: {{ .name }}
  namespace: {{ $.Values.project }}
  labels:
    {{- include "pod-identity-iam-resources.labels" $ | nindent 4 }}
spec:
  name: {{ .name }}
  description: Policy for Pod Identity Cross Account Access
  policyDocument: |-
{{- (tpl .policyDocument $) | nindent 4 }}
  tags:
    - key: "adsk:moniker"
      value: {{ $.Values.moniker }}
{{- end }}
