roles:
  - name: pod-identity-cross-account-role
    policyRefs:
      - pod-identity-cross-account-policy
    assumeRolePolicyDocument: |
      {
        "Version": "2012-10-17",
        "Statement": [
          {
            "Effect": "Allow",
            "Principal": {
              "Service": "pods.eks.amazonaws.com"
            },
            "Action": [
              "sts:AssumeRole",
              "sts:TagSession"
            ]
          }
        ],
        "Resources":"aws:iam::{{ .Values.aws.accountId }}:role/{{ .Values.region }}/ADSK-PodIdentity-CrossAccount-TrustRole"
      }
  - name: pod-identity-s3-access-role
    policyRefs:
      - pod-identity-s3-read-policy
    assumeRolePolicyDocument: |
      {
        "Version": "2012-10-17",
        "Statement": [
          {
            "Effect": "Allow",
            "Principal": {
              "Service": "pods.eks.amazonaws.com"
            },
            "Action": [
              "sts:AssumeRole",
              "sts:TagSession"
            ],
            "Condition": {
              "StringEquals": {
                "aws:SourceAccount": "{{ .Values.aws.accountId }}"
              }
            }
          }
        ]
      }

policies:
  - name: pod-identity-cross-account-policy
    policyDocument: |
      {
        "Version": "2012-10-17",
        "Statement": [
          {
            "Effect": "Allow",
            "Action": [
              "sts:AssumeRole",
              "sts:TagSession"
            ],
            "Resource": "*"
          }
        ]
      }
  - name: pod-identity-s3-read-policy
    policyDocument: |
      {
        "Version": "2012-10-17",
        "Statement": [
          {
            "Effect": "Allow",
            "Action": [
              "s3:GetObject",
              "s3:ListBucket"
            ],
            "Resource": [
              "arn:aws:s3:::my-bucket/*",
              "arn:aws:s3:::my-bucket"
            ]
          }
        ]
      }

podIdentityAssociations:
  - name: cross-account-association
    namespace: default
    roleName: pod-identity-cross-account-role
    serviceAccountName: cross-account-sa
  - name: s3-access-association
    namespace: default
    roleName: pod-identity-s3-access-role
    serviceAccountName: s3-access-sa